:root {
    --text-color: #333;
    --header-text-color: #e7eef6;
    --primary-color: #e3002d;
    --sub-primary-color: #000000;
    --header-height: 50px;
    --slider-btn-color: rgb(82, 44, 165);
}

* {
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}