/* Header */
.header {
    background-color: var(--sub-primary-color);
    height: var(--header-height);
    line-height: var(--header-height);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.nav-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
}

.header__logo {
    width: 60px;
    height: 31px;
}

.language-button {
    outline: none;
    background-color: var(--sub-primary-color);
    cursor: pointer;
    border: none;
    margin: 15px 0;
    font-size: 1.4rem;
    color: var(--header-text-color);
}

.nav-list__item-icon {
    margin-right: 2px;
}

.nav-list__item {
    font-size: 1.5rem;
    color: var(--header-text-color);
    margin: 0 10px;
}

.nav-list__item a:hover {
    color: var(--primary-color);
}

.nav-list__item--separate:before {
    content: "";
    position: absolute;
    border-left: 1px solid var(--header-text-color);
    left: 69%;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    display: block;
}

.nav-list__item a {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: 500;
    display: block;
}

/* Slider */
.slider-wrap {
    height: 820px;
    margin-top: var(--header-height);
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 1666px;
    height: 820px;
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1666px;
    height: 820px;
}

/* Manual btn */
.slider-nav__manual {
    position: absolute;
    width: 1666px;
    display: flex;
    justify-content: center;
    bottom: 10%;
}

.manual-btn {
    border: 3px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    bottom: 0;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: var(--slider-btn-color);
}

#radio1:checked ~ .slide__transform {
    margin-left: 0;
}

#radio2:checked ~ .slide__transform {
    margin-left: -20%;
}

#radio3:checked ~ .slide__transform {
    margin-left: -40%;
}

#radio4:checked ~ .slide__transform {
    margin-left: -60%;
}

/* Automatic slider */
.slider-nav__auto {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1666px;
    bottom: 10%;
}

.slider-nav__auto .nav__auto {
    border: 3px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.slider-nav__auto .nav__auto:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .slider-nav__auto .auto__btn1 {
    background-color: var(--slider-btn-color);
}

#radio2:checked ~ .slider-nav__auto .auto__btn2 {
    background-color: var(--slider-btn-color);
}

#radio3:checked ~ .slider-nav__auto .auto__btn3 {
    background-color: var(--slider-btn-color);
}

#radio4:checked ~ .slider-nav__auto .auto__btn4 {
    background-color: var(--slider-btn-color);
}

